@{
    ViewData["Title"] = "Admin Page";
}

<div class="jumbotron">
    <h1>Admin Page</h1>
    <p>Welcome to the admin page</p>
    <p><a asp-action="Users" class="btn btn-primary btn-lg">View Users</a>
    <a asp-action="UpgradeRequest" class="btn btn-success btn-lg">View Upgrade Requests</a></p>
    <br />
    <br />
    <br />
</div>
