@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">EgolePay User Management System</h1>
    <h3>Smart Payment Solution</h3>
    <p>
        Merchants, marketplaces, stores, and platforms use EgolePay Payments platform to transact virtually using available gateway or payment service. Explore the new markets fast, make secure payments easily. We are ready to support your business growth
    </p>
</div>
